* {
    margin: 0;
    padding: 0;
  }
  
  html {
    text-align: center;
    background-color: #181616;
  }

  nav {
    display: inline-block;
  }
  nav ul {
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    padding: 30px;
    font-size: 30px;
    position: relative;
    top: 7px;
    color: rgb(252, 238, 238);
  }