* {
    margin: 0;
    padding: 0;
  }
  header {
    text-align: center;
    background: url(../IMG/_MG_494l5.jpg) no-repeat center;
    background-size: cover;
    background-color: transparent !important;
    min-height: 100vh;
  }
  nav {
    display: inline-block;
  }
  nav ul {
    list-style-type: none;
  }
  nav ul li {
    font-family: 'Passion One', cursive;
    padding: 30px;
    font-size: 70px;
    position: relative;
    top: 970px;
  }

  .textoId {
    font-size: 200px;
    padding: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }